/* Created by: Mr. Coxall
* Created on: Sep 2020
* This file contains the CSS for index.html
*/

body {
  background-color: hsl(287 100% 92%);
  color: hsl(255 78% 22%);
  padding: 40px;
  text-align: center;
}

header {
  background-color: #333;
  color: white;
  padding: 20px;
  font-size: 25px;
  text-align: center;
}

h3 {
  background-color: hsl(272, 66%, 83%);
  color: hsl(239deg 74 29);
  padding: 30px;
  font-family: monospace;
  font-weight: bold;
  font-size: 24px;
  text-align: center;
}

p {
  background-color: #fff;
  text-align: left;
  max-width: 50%;
  font-family: initial;
  font-weight: lighter;
}
