/* Created by: Mr. Coxall
* Created on: Sep 2020
* This file contains the CSS for index.html
*/

body {
  background-color: rgb(249, 239, 255);
  color: rgb(95, 95, 197);
  padding: 40px;
  text-align: center;
}
h3 {
  background-color: rgb(170, 181, 223);
  color: hsl(239deg 74 29);
  padding: 30px;
  font-family: monospace;
  font-weight: bold;
  font-size: 24px;
  text-align: centre;
}
p {
  background-color: #ffffff;
  text-align: left;
  max-width: 50%;
  font-family: initial;
  font-weight: lighter;
}
